<!--
<div class="container">
  < Needs to be dynamic >
    <h3>Electronics > Headphones</h3>
<%#= simple_form_for [@quiz_session, @user_answer] do |f| %>
  <%#= f.association :answer, collection: @question.answers, label_method: :content, value_method: :id, label: @question.content, as: :radio_buttons, :item_wrapper_class => 'btn btn-primary btn-lg btn-block'  %>
  <%#=  f.button :submit, "Custom Button Text", class: "btn btn-primary btn-lg btn-block" %>
  <%#= f.submit 'Submit' %>
<%# end %>
</div> -->




<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <!-- Need to be dynamic -->
            <div class="row">
              <div class="col-xs-12 category-choices">
            <%= simple_form_for [@quiz_session, @user_answer] do |f| %>
                <fieldset class="form-group check_boxes required user_answer_answer">
                  <legend class="question-header"><%= @question.content %></legend>
                    <div class="category-choices">
                    <% @question.answers.each do |answer| %>
                      <input class="hidden" value="<%= answer.id %>" name="user_answer[answer_id][]" id='<%= "user_answer_answer_id_#{answer.id}" %>' type="radio">
                      <label class="category-choice" for='<%= "user_answer_answer_id_#{answer.id}" %>'><%= answer.content %></label>
                    <% end %>
                   </div>
                  </fieldset>
                  <%= f.submit 'Next', class: "btn btn-primary btn-lg btn-block" %>
                <% end %>
              </div>
              <%#=  f.button :submit, "Custom Button Text", class: "btn btn-primary btn-lg btn-block" %>
            </div>
      </div>
    </div>
  </div>
</div>



