

<div class="searchbar">
  <div class="searchterm">
    <div class="search-block">
    <i class="fas fa-search"> </i>
    <%= form_tag  questions_search_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Which product do you need?", class: "header-form" %>
    <% end %>
    </div>
  </div>
</div>

<h4>Explore Categories</h4>
<div class="carousel">
 <% @categories.each do |category| %>
 <div class="carousel-item">
  <div class="card">
    <div class="card__image">
      <%= link_to category_path(category) do %>
      <%= cl_image_tag category.photo, height: 250, width:250, crop: :fill %>
      <% end %>
    </div>
    <div class="card__info">
      <h2 class="card__title"><%= category.name %></h2>
    </div>
  </div>
</div>
<% end %>
</div>
<h4>Recommended Electronics</h4>

<div class="container">
  <div class="no-gutter">
    <% @sub_categories.each do |sub_category| %>
      <div class="col-xs-6 col-sm-3">
        <div class="card-sub-category">
          <div class="card-sub-category-image">
          <%= cl_image_tag sub_category.photo, height: 150, width:150, crop: :fill %>
          </div>
          <div class="card-sub-category-title">
            <%= sub_category.name %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>




