<div class="navbar-fixed-top searchbar">
  <div class="searchterm">
    <div class="search-block">
    <i class="fas fa-search"> </i>
    <%= form_tag  questions_search_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Which product do you need?", class: "header-form" %>
    <% end %>
    </div>
  </div>
</div>

<div class="container-with-search">
<h4>Hi, Yash. Which category do you want to explore?</h4>
  <div id="carousel-1" class="carousel">
   <% @categories.each do |category| %>
     <div class="carousel-item">
      <div class="card">
        <div class="card__image">
          <%= link_to category_path(category) do %>
          <%= cl_image_tag category.photo, height: 250, width:250, crop: :fill %>
          <% end %>
        </div>
        <div class="card__info">
          <h2 class="card__title"><%= category.name %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>


<h5>Recommended Electronics</h5>
  <div id="carousel-2" class="carousel">
   <% @categories.each do |category| %>
     <div class="carousel-item">
      <div class="card">
        <div class="card__image">
          <%= link_to category_path(category) do %>
          <%= cl_image_tag category.photo, height: 250, width:250, crop: :fill %>
          <% end %>
        </div>
        <div class="card__info">
          <h2 class="card__title"><%= category.name %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>



