<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

<div class="searchbar">
  <div class="searchterm">
    <div class="search-block">
    <i class="fas fa-search"> </i>
    <%= form_tag  questions_search_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search for products", class: "header-form" %>
    <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h4>Recommended <%= @category.name %></h4>
  <div class="no-gutter">
    <% @sub_categories.each do |sub_category| %>
      <% if sub_category.quiz %>
        <div class="col-xs-6 col-sm-3">
          <div class="card-sub-category">
            <div class="card-sub-category-image">
              <%= link_to quiz_quiz_sessions_path(sub_category.quiz), method: :post do %>
                <%= cl_image_tag sub_category.photo, height: 150, width:150, crop: :fill %>
              <% end %>
            </div>
            <div class="card-sub-category-title">
              <%= sub_category.name %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
